<div class="application">
    <div class="app-header">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Таксопарк</a>
                    <ul class="nav navbar-nav">
                      {{#link-to 'users' tagName="li"}}
                          <a {{bind-attr href="view.href"}}>
                              Пользователи
                          </a>
                      {{/link-to}}
                      {{#link-to 'drivers' tagName="li"}}
                          <a {{bind-attr href="view.href"}}>
                              Водители
                          </a>
                      {{/link-to}}
                      {{#link-to 'cars' tagName="li"}}
                          <a {{bind-attr href="view.href"}}>
                              Автомобили
                          </a>
                      {{/link-to}}
                      {{#link-to 'rents' tagName="li"}}
                          <a {{bind-attr href="view.href"}}>
                              Аренды
                          </a>
                      {{/link-to}}
                      {{#link-to 'payments' tagName="li"}}
                          <a {{bind-attr href="view.href"}}>
                              Платежи
                          </a>
                      {{/link-to}}
                      {{#link-to 'fines' tagName="li"}}
                          <a {{bind-attr href="view.href"}}>
                              Штрафы
                          </a>
                      {{/link-to}}
                      {{#link-to 'repairs' tagName="li"}}
                          <a {{bind-attr href="view.href"}}>
                              Ремонты
                          </a>
                      {{/link-to}}
                      {{#link-to 'expenses' tagName="li"}}
                          <a {{bind-attr href="view.href"}}>
                              Расходы
                          </a>
                      {{/link-to}}
                      {{#link-to 'cashier' tagName="li"}}
                          <a {{bind-attr href="view.href"}}>
                              Кассовая форма
                          </a>
                      {{/link-to}}
                    </ul>
                </div>
                <div class="collapse navbar-collapse">
                  {{user-logout}}
                </div>
            </div>
        </nav>
    </div>
    <div class="app-content">
      {{outlet}}
    </div>
</div>


