<div class="list">
    <div class="list-filter">
        <a class="btn btn-primary filter-button" data-toggle="collapse" href="#filter" aria-expanded="false" aria-controls="filter">
            Фильтр
        </a>
        <div class="collapse filter-body" id="filter">
            <div class="well">
                <form class="form-horizontal">
                  {{property-row title="Машина" value=filter.car}}
                  {{property-row title="Водитель" value=filter.driver}}
                  {{property-row title="Дата" value=filter.date}}
                </form>
                <button type="button" class="btn btn-primary" {{action "filterTable"}}>
                    <i class="fa fa-user-plus"></i> Фильтровать
                </button>
                <button type="button" class="btn btn-primary" {{action "clearFilter"}}>
                    <i class="fa fa-user-plus"></i> Очистить фильтр
                </button>
            </div>
        </div>
    </div>
    <div class="table">
      {{table-component
      columns=columns
      content=data
      hasFooter=false
      selection=selectedRow}}
    </div>
    <div class="commands-panel btn-group pull-right" role="group">
        <button type="button" class="btn btn-primary" {{action "createRentOperation"}}  {{bind-attr disabled=selectionRentIsEmpty}}>
            <i class="fa fa-rub"></i> Внести платеж за аренду
        </button>
        <button type="button" class="btn btn-primary" {{action "createFineOperation"}} {{bind-attr disabled=selectionRentIsEmpty}}>
            <i class="fa fa-taxi"></i> Внести платеж за штраф
        </button>
        <button type="button" class="btn btn-primary" {{action "createRepairOperation"}} {{bind-attr disabled=selectionRentIsEmpty}}>
            <i class="fa fa-wrench"></i> Внести платеж за ремонт
        </button>
        <button type="button" class="btn btn-primary" {{action "gotoHistory"}} {{bind-attr disabled=selectionRentIsEmpty}}>
            <i class="fa fa-rub"></i> Просмотр истории по аренде
        </button>
    </div>
</div>