<div class="list">
    <div class="table">
      {{table-component
      columns=columns
      content=data
      hasFooter=false
      selection=selectedRow}}
    </div>

    <div class="commands-panel btn-group pull-right" role="group">
        <button type="button" class="btn btn-primary" {{action "createPayment"}}>
            <i class="fa fa-user-plus"></i> Внести платеж
        </button>
        <button type="button" class="btn btn-primary" {{action "createFine"}}>
            <i class="fa fa-pencil"></i> Создать штраф
        </button>
        <button type="button" class="btn btn-primary" {{action "createRent"}}>
            <i class="fa fa-pencil"></i> Создать аренду
        </button>
        <button type="button" class="btn btn-primary" {{action "editRent"}} {{bind-attr disabled=selectionEmpty}}>
            <i class="fa fa-pencil"></i> Редактировать аренду
        </button>
        <button type="button" class="btn btn-primary" {{action "remove"}} {{bind-attr disabled=selectionEmpty}}>
            <i class="fa fa-user-times"></i> Удалить аренду
        </button>
    </div>
</div>