<div class="list">
    <div class="table">
      {{table-component
      columns=columns
      content=data
      hasFooter=false
      selection=selectedRow}}
    </div>
    <div class="commands-panel btn-group pull-right" role="group">
        <button type="button" class="btn btn-primary" {{action "createRentOperation"}}  {{bind-attr disabled=selectionRentIsEmpty}}>
            <i class="fa fa-rub"></i> Внести платеж за аренду
        </button>
        <button type="button" class="btn btn-primary" {{action "createFineOperation"}} {{bind-attr disabled=selectionRentIsEmpty}}>
            <i class="fa fa-taxi"></i> Внести платеж за штраф
        </button>
        <button type="button" class="btn btn-primary" {{action "createRepairOperation"}} {{bind-attr disabled=selectionRentIsEmpty}}>
            <i class="fa fa-wrench"></i> Внести платеж за ремонт
        </button>
    </div>
</div>