<div class="list">

    <form class="form-horizontal">
      {{input placeholder="Фильтрация по фамилии" value=filterLastName}}
    </form>
    <form class="form-horizontal">
      {{input placeholder="Фильтрация по имени" value=filterFirstName}}
    </form>
    <form class="form-horizontal">
      {{input placeholder="Фильтрация по отчеству" value=filterMiddleName}}
    </form>
    <form class="form-horizontal">
        {{ember-selectize
        content=allRoles
        optionValuePath="content.id"
        optionLabelPath="content.label"
        selection=filterRole
        placeholder="Фильтрация по роли"
        }}
    </form>
    <form class="form-horizontal">
      {{input placeholder="Фильтрация по логину" value=filterLogin}}
    </form>
    <button type="button" class="btn btn-primary" {{action "filterTable"}}>
        <i class="fa fa-user-plus"></i> Фильтровать
    </button>
    <button type="button" class="btn btn-primary" {{action "clearFilter"}}>
        <i class="fa fa-user-plus"></i> Очистить фильтр
    </button>

    <div class="table">
      {{table-component
      columns=columns
      content=users
      hasFooter=false
      selection=selectedRow}}
    </div>

   <div class="commands-panel btn-group pull-right" role="group" data-spy="affix">
       <button type="button" class="btn btn-primary" {{action "create"}}>
           <i class="fa fa-user-plus"></i> Создать
       </button>
       <button type="button" class="btn btn-primary" {{action "edit"}} {{bind-attr disabled=selectionEmpty}}>
           <i class="fa fa-pencil"></i> Редактировать
       </button>
       <button type="button" class="btn btn-primary" {{action "remove"}} {{bind-attr disabled=selectionEmpty}}>
           <i class="fa fa-user-times"></i> Удалить
       </button>
   </div>

</div>
