<div class="editor user-editor">
    <form class="form-horizontal">
      {{property-row title="Логин" value=login errors=errors.login}}
      {{#property-row title="Пароль" errors=errors.password}}
        {{input value=password type="password"}}
      {{/property-row}}
      {{property-row title="Фамилия" value=lastName}}
      {{property-row title="Имя" value=firstName}}
      {{property-row title="Отчество" value=middleName}}
      {{#property-row title="Роль" errors=errors.role}}
        {{ember-selectize
        content=roles
        optionValuePath="content.id"
        optionLabelPath="content.label"
        selection=selectedRole
        placeholder="Выберите роль"
        }}
      {{/property-row}}
    </form>
  {{save-cancel}}
</div>
