<div class="editor user-editor">
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" {{bind-attr class="isGeneral:active"}}>
        <a href="#general" aria-controls="general" role="tab" {{action "changeTab" "general"}}>Основное</a>
    </li>
    <li role="presentation" {{bind-attr class="isGeneral::active"}}>
        <a href="#info" aria-controls="info" role="tab" {{action "changeTab" "info"}}>Сводка</a>
    </li>
  </ul>
  <div class="tab-content">
    <div role="tabpanel" id="general" {{bind-attr class=":tab-pane isGeneral:active"}}>
      <form class="form-horizontal">
        {{#property-row title="Статус" errors=errors.status}}
          {{ember-selectize
          content=statuses
          optionValuePath="content.id"
          optionLabelPath="content.label"
          selection=selectedStatus
          placeholder="Выберите статус"
          }}
        {{/property-row}}
        {{#property-row title="Водитель" errors=errors.driver}}
          {{input value=driverDisplayName readonly="true"}}
        {{/property-row}}
        {{#property-row title="Автомобиль" errors=errors.car}}
          {{input value=carDisplayName readonly="true"}}
        {{/property-row}}
          {{#property-row title="Залог" errors=errors.deposit}}
              {{input value=deposit readonly="true"}}
          {{/property-row}}
        {{property-row title="Примечания" value=comment}}
      </form>
    </div>
    <div role="tabpanel" id="info" {{bind-attr class=":tab-pane isGeneral::active"}}>
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="rentTotalHeading">
                    <h4 class="panel-title">
                        <a {{bind-attr class="isTotal::collapsed"}} {{action "switchPanel" "total"}}
                                role="button"
                                data-parent="#accordion"
                                href="#rentTotalCollapse">
                            Итого: {{rentTotal.total}}
                        </a>
                    </h4>
                </div>
                <div id="rentTotalCollapse" {{bind-attr class=":panel-collapse :collapse isTotal:in"}} role="tabpanel" aria-labelledby="rentTotalHeading">
                    <div class="panel-body">
                        <div class="rent-total-container">
                            <form class="form-horizontal">
                                {{#property-row title="Продолжительность" labelCssWidth="col-sm-3" inputCssWidth="col-sm-9"}}
                                    {{input value=minutesHumanize readonly="true"}}
                                {{/property-row}}
                                {{#property-row title="Аренда" labelCssWidth="col-sm-3" inputCssWidth="col-sm-9"}}
                                    {{input value=rentTotal.rent readonly="true"}}
                                {{/property-row}}
                                {{#property-row title="Ремонт" labelCssWidth="col-sm-3" inputCssWidth="col-sm-9"}}
                                    {{input value=rentTotal.repairs readonly="true"}}
                                {{/property-row}}
                                {{#property-row title="Штрафы" labelCssWidth="col-sm-3" inputCssWidth="col-sm-9"}}
                                    {{input value=rentTotal.fines readonly="true"}}
                                {{/property-row}}
                                {{#property-row title="Залог" labelCssWidth="col-sm-3" inputCssWidth="col-sm-9"}}
                                    {{input value=rentTotal.deposit readonly="true"}}
                                {{/property-row}}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="rentHistoryHeading">
                    <h4 class="panel-title">
                        <a {{bind-attr class="isTotal:collapsed"}} {{action "switchPanel" "history"}}
                                role="button"
                                data-parent="#accordion"
                                href="#rentHistoryCollapse">
                            История
                        </a>
                    </h4>
                </div>
                <div id="rentHistoryCollapse" {{bind-attr class=":panel-collapse :collapse isTotal::in"}} role="tabpanel" aria-labelledby="rentHistoryHeading">
                    <div class="panel-body">
                        <div class="history-container container-fluid">
                            {{#each status in history}}
                                <div class="history-item status row">
                                    <div class="col-md-1 status-icon">
                                        <i class="fa fa-bell"></i>
                                    </div>
                                    <div class="col-md-4">{{format-date status.changeTime}}</div>
                                    <div class="col-md-5">{{rent-status status.status}}</div>
                                </div>
                                <div class="operations-container">
                                    {{#each op in status.operations}}
                                        <div {{bind-attr class=":history-item :operation :row op.isPositive:positive:negative"}} {{action "showOperation" op}}>
                                            <div class="col-md-1 operation-icon">
                                                {{account-type-icon op.accountType}}
                                            </div>
                                            <div class="col-md-4">{{format-date op.operationTime}}</div>
                                            <div class="col-md-5">{{account-type op.accountType}}</div>
                                            <div class="col-md-2">{{op.amount}} р.</div>
                                        </div>
                                    {{/each}}
                                </div>
                            {{/each}}

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
  </div>

  {{save-cancel}}
</div>
