<div class="editor user-editor">
    <form class="form-horizontal">
        {{#property-row title="Аренда"}}
            {{input value=rent.displayName readonly="true"}}
        {{/property-row}}
        {{#property-row title="Тип операции"}}
            {{input value=operationTypeDisplayName readonly="true"}}
        {{/property-row}}
        {{#property-row title="Назначение операции" errors=errors.accountType}}
            {{ember-selectize
            content=accountTypesList
            optionValuePath="content.id"
            optionLabelPath="content.label"
            selection=selectedAccountType
            placeholder="Выберите назначение операции"
            }}
        {{/property-row}}
      {{#property-row title="Дата операции" errors=errors.changeTime}}
          {{datetime-picker value=changeTime }}
      {{/property-row}}
      {{property-row title="Сумма, р" value=amount errors=errors.amount}}
        {{#if operationTypeCharge}}
            {{#property-row title="Явка" errors=errors.presence inputCssWidth="col-sm-1"}}
                {{input type="checkbox" checked=presence class="app-check-box"}}
            {{/property-row}}
        {{/if}}
      {{property-row title="Примечания" value=comment}}
    </form>
    {{save-cancel}}
</div>
