<div class="list">
  {{table-component
  columns=columns
  content=rents
  hasFooter=false
  selection=selectedRow}}

    <div class="commands-panel btn-group pull-right" role="group">
        <button type="button" class="btn btn-primary" {{action "create"}}>
            <i class="fa fa-user-plus"></i> Создать
        </button>
        <button type="button" class="btn btn-primary" {{action "edit"}} {{bind-attr disabled=selectionEmpty}}>
            <i class="fa fa-pencil"></i> Редактировать
        </button>
        <button type="button" class="btn btn-primary" {{action "remove"}} {{bind-attr disabled=selectionEmpty}}>
            <i class="fa fa-user-times"></i> Удалить
        </button>
    </div>
</div>