<div class="editor user-editor">
    <form class="form-horizontal">
      {{#property-row title="Статус" errors=errors.status}}
        {{ember-selectize
        content=statuses
        optionValuePath="content.id"
        optionLabelPath="content.label"
        selection=selectedStatus
        placeholder="Выберите статус"
        }}
      {{/property-row}}
      {{#property-row title="Водитель" errors=errors.driver}}
        {{ember-selectize
        content=driverItems
        optionValuePath="content.id"
        optionLabelPath="content.displayName"
        selection=driver
        placeholder="Выберите водителя"
        loading=driver.isPending
        }}
      {{/property-row}}
      {{#property-row title="Автомобиль" errors=errors.car}}
        {{ember-selectize
        content=carItems
        optionValuePath="content.id"
        optionLabelPath="content.displayName"
        selection=car
        placeholder="Выберите автомобиль"
        loading=car.isPending
        }}
      {{/property-row}}
      {{property-row title="Залог" value=deposit errors=errors.deposit}}
      {{property-row title="Примечания" value=comment}}
    </form>
  {{save-cancel}}
</div>
