<div class="form-group property-row">
    <label {{bind-attr class=":control-label labelCssWidth"}}>{{title}}</label>
    <div {{bind-attr class="inputCssWidth"}}>
      {{#if template}}
        {{yield}}
      {{else}}
        {{input value=value}}
      {{/if}}
      <div {{bind-attr class=":error-box errorCssWidth"}}>
        {{#each error in errors}}
            <div class="error">
              {{error.message}}
            </div>
        {{/each}}
      </div>
    </div>
</div>

