<div class="editor user-editor">
    <form class="form-horizontal">
	{{#property-row title="Дата ремонта" errors=errors.changeTime}}
        {{bootstrap-datepicker
        class="form-control"
        value=changeTime
        autoclose=true
        clearBtn=true
        format="dd-mm-yyyy"
        language="ru"
        weekStart=1
        }}
      {{/property-row}}
      {{property-row title="Сумма, р" value=amount errors=errors.amount}}
      {{#property-row title="Аренда" errors=errors.rent}}
        {{ember-selectize
        content=rentItems
        optionValuePath="content.id"
        optionLabelPath="content.displayName"
        selection=rent
        placeholder="Выберите аренду"
        loading=rent.isPending
        }}
      {{/property-row}}
      {{property-row title="Описание" value=description errors=errors.description}}
    </form>
  {{save-cancel}}
</div>
