<div class="editor user-editor">
    <form class="form-horizontal">
      {{#property-row title="ФИО" errors=errors.login}}
        {{input value=fio readonly="true"}}
      {{/property-row}}
      {{property-row title="Паспорт" value=pass errors=errors.pass}}
      {{property-row title="Водительские права" value=license errors=errors.license}}
      {{property-row title="Телефон" value=phone errors=errors.phone}}
      {{property-row title="Дополнительный телефон" value=secPhone errors=errors.secPhone}}
      {{property-row title="Адрес" value=address errors=errors.address}}
      {{property-row title="Примечания" value=comment}}
    </form>
  {{save-cancel}}
</div>
