<div>
    <label>carClasses</label>
    <table>
      {{#each one in carClasses}}
          <tr>
              <td>ID: "{{one.id}} </td>
              <td>" Label: "{{one.label}} </td>
              <td>" Name: "{{one.name}} "</td>
          </tr>
      {{/each}}
    </table>
</div>

<div class="editor user-editor">
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-2 control-label">Номерной знак</label>
            <div class="col-sm-10">
              {{input value=regNumber class="form-control" required="true"}}
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Марка</label>
            <div class="col-sm-10">
              {{input value=make class="form-control" required="true"}}
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Модель</label>
            <div class="col-sm-10">
              {{input value=cmodel class="form-control" required="true"}}
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Пробег, км</label>
            <div class="col-sm-10">
              {{input value=mileage type="number" class="form-control" required="true"}}
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Следующий ТО, км</label>
            <div class="col-sm-10">
              {{input value=service type="number" class="form-control" required="true"}}
            </div>
        </div>
        <div class="form-group">
        <label class="col-sm-2 control-label">Класс</label>
        <div class="col-sm-10">
          {{bootstrap-dropdown selected=selectedCarClass items=carClasses}}
        </div>
    </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Примечания</label>
            <div class="col-sm-10">
              {{input value=comment class="form-control"}}
            </div>
        </div>
    </form>
    <div class="commands-panel btn-group pull-right" role="group">
        <button type="button" class="btn btn-primary" {{action "save"}} {{bind-attr disabled=hasErrors}}>
            <i class="fa fa-floppy-o"></i> Сохранить
        </button>
        <button type="button" class="btn btn-default" {{action "cancel"}}>
            <i class="fa fa-times"></i> Отмена
        </button>
    </div>
</div>
